@charset "utf-8";

body,ul,li,ol,dl,dt,dd,p,h1,h2,h3,h4,h5,h6{margin: 0;padding: 0;}
body{font: normal 12px "맑은고딕","Malgun Gothic",serif;}
ul{list-style: none;}
img{border: 0;vertical-align: top;}
a{text-decoration: none;}

#wrap{width: 100%;overflow: hidden;}

section{width:100%;height:755px;position:relative;overflow: hidden;position: relative;}
 

.page1{background:url(../../images/visual1.jpg) no-repeat center;background-size:cover;}
.page2{background:url(../../images/jenni.jpg) no-repeat center;background-size:cover;}
.page3{background:url(../../images/visual4.jpg) no-repeat center;background-size:cover;}
.page4{background:#fff;}
.page5{background:#000;}
.page6{background:slategray;}
.page7{background:#000;}


/*header*/
.header{width:100%;position:absolute;top:0;height: 65px;z-index: 2;}
.header .header_menu{width:100%;height:57px;position:absolute;position: fixed;background:rgba(0, 0, 0, 0.9);}
.header .header_menu .logo a{float: left;color: #fff;font-size: 22px;font-weight: bold;padding: 14px 0 0 15px;}

.header .header_menu .nav{margin:0 auto;width:850px;height: 39px;padding-top: 18px;}
.header .header_menu .nav .gnb{}
.header .header_menu .nav .gnb>li{float:left;margin-right:60px;}
.header .header_menu .nav .gnb>li:last-child{margin-right:0;}
.header .header_menu .nav .gnb>li>a{color:#fff;font-size:18px;}

.header .header_menu .menu_btn{position: absolute;top: 0;right: 20px; width: 120px;height: 41px;padding-top: 16px;}
.header .header_menu .menu_btn li{float: left;margin-right: 20px;}
.header .header_menu .menu_btn li:last-child{margin-right: 0px;}

.header .header_menu .nav .gnb>li:hover>a{color:#f4e600;font-weight: bold;}
.header .header_menu .nav .gnb>li.on>a{color:#f4e600;font-weight: bold;}


/*visual*/
.visual .video1{position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);min-width: 100%;min-height: 100%;width:auto;height:auto;}

.visual .visual_in{position:absolute;bottom: 2%;left:50%;transform: translate(-50%,-50%);text-align: center;line-height: 2;}
.visual .visual_in h2{font-size:27px;color:#fff;}
.visual .visual_in .v_btn1{float: left;border: 3px solid #fff;width: 160px;height: 50px;border-radius: 30px;box-sizing: border-box; 
background: rgba(0, 0, 0, 0.6);margin: 7px 0 0 40px;padding-top: 2px;}
.visual .visual_in .v_btn1 a{color: #fff;font-size: 18px;}
.visual .visual_in .v_btn2{float: left;border: 3px solid #fff;width: 160px;height: 50px;border-radius: 30px;box-sizing: border-box; 
background: rgba(0, 0, 0, 0.6);margin: 7px 0 0 13px;padding-top: 3px;}
.visual .visual_in .v_btn2 a{color: #fff;font-size: 18px;}


/*page1*/
.page1 .page1_w{width:1310px;height:520px;position:absolute;top:50%;left:50%;transform: translate(-50%,-47%);box-sizing: border-box;}
.page1 .page1_in{width:1310px;height:520px;background:rgba(0,0,0,0.7);padding-top:5px;box-sizing: border-box;}
.page1 .page1_in h2{color: #fff; text-align: center;margin-top: 10px;font-size: 20px;}
.page1 .page1_in .p1_list li{float: left;margin:30px 0 0 22px;}
.page1 .page1_in .p1_list li .p1_txt{color: #fff;padding-top: 10px;font-size: 15px;font-weight: 600;}


/*page2*/
.page2 .page2_w{width:1310px;height:520px;position:absolute;top:50%;left:50%;transform: translate(-50%,-47%);box-sizing: border-box;}
.page2 .page2_in{width:1310px;height:520px;background:rgba(101, 93, 76, 0.8);padding-top:5px;box-sizing: border-box;}
.page2 .page2_in h2{color: #fff; text-align: center;margin-top: 10px;font-size: 20px;}
.page2 .page2_in .p2_list li{float: left;margin:30px 0 0 22px;}
.page2 .page2_in .p2_list li .p2_txt{color: #fff;padding-top: 10px;font-size: 15px;font-weight: 600;}


/*page3*/
.page3 .page3_in{position:absolute;top:50%;right:150px;transform: translateY(-50%);}
.page3 .page3_in .p3_list li{margin-bottom: 40px;font-size: 16px;}
.page3 .page3_in .p3_list li .cap3{position: absolute; width: 125px;height: 125px;border: 2px solid #000;border-radius: 50%;cursor: pointer;
display: none;}
.page3 .page3_in .p3_list li .cap3.cap3-1{top: -4.5px;left: 39px;}
.page3 .page3_in .p3_list li .cap3.cap3-2{top: 187px;left: 39px;}
.page3 .page3_in .p3_list li .cap3.cap3-3{top: 378px;left: 39px;}
/*.page3 .page3_in .p3_list li:hover .cap3{opacity: 1;}*/

.page3 .page3_in .p3_list li .s_circle{display:inline-block;width: 7px;height: 7px;background: #000;border: 3px solid rgb(191, 191, 191);border-radius: 50%; margin: 50px 30px 0 0}
.page3 .page3_in .p3_list li .p3_txt1{padding: 10px 0 0 60px;font-weight: 550;}
.page3 .page3_in .p3_list li .p3_txt2{padding: 10px 0 0 43px;font-weight: 550;}
.page3 .page3_in .p3_list li .p3_txt3{padding: 10px 0 0 49px;font-weight: 550;}


.page3 .pages3_box{width:1100px;height:650px;background:rgba(255,255,255,0.8);position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
.page3 .pages3_box .b_close{position:absolute;top:10px;right:20px;font-size:25px;cursor: pointer;}


/*page4*/
.page4{}
.page4 .page4_in .p4_list li{float: left;margin-left: 32px;}
.page4 .page4_in .p4_list li:first-child,.page4 .page4_in .p4_list li:nth-child(2),.page4 .page4_in .p4_list li:nth-child(3),.page4 .page4_in .p4_list li:nth-child(4),.page4 .page4_in .p4_list li:nth-child(5){margin-bottom: 20px;}
.page4 .page4_in .p4_list li img{width: 300px;height: 400px;}*


/*page5*/

.page5{width:100%;height:100%;}
.page5_in{width:100%;height:100%;}
.page5_in>div{width:25%;height:100%;float:left;position:relative;}

.page5 .page5_in .p5_img1{background: url(../../images/moncler.jpg) no-repeat  center; background-size:  cover;}
.page5 .page5_in .p5_img2{background: url(../../images/HBA.jpg) no-repeat  center; background-size: cover;}
.page5 .page5_in .p5_img3{background: url(../../images/jentlegarden.jpg) no-repeat  center; background-size: cover;}
.page5 .page5_in .p5_img4{background: #000;text-align: center;}

.page5 .page5_in .cap5{width: 100%;height: 100%; background: rgba(0, 0, 0, 0.6);position:absolute;top:0;left:0;transition: all 0.5s;color: #fff;text-align: center;opacity: 0;
padding-top: 340px;}
.page5 .page5_in .cap5 img{transition: all 1s;transition-delay: 0.2s;opacity: 0;}
.page5 .page5_in .cap5 p{font-size: 19px;margin: 15px auto;font-weight: bold;text-shadow: 5px 5px 5px #000; transition: all 1s;transition-delay: 0.4s;opacity: 0;}
.page5 .page5_in .cap5 a{font-size: 17px;color: #fff;text-decoration: underline;font-weight: bold; transition: all 1s;transition-delay: 0.6s;opacity: 0;}

.page5 .page5_in .p5:hover .cap5{opacity: 1;}
.page5 .page5_in .p5:hover .cap5 img{opacity: 1;}
.page5 .page5_in .p5:hover .cap5 p{opacity: 1;}
.page5 .page5_in .p5:hover .cap5 a{opacity: 1;}

.page5 .page5_in .p5_img4{padding-top: 300px;}
.page5 .page5_in .p5_img4 .p5_circle{margin-bottom: 12px;}
.page5 .page5_in .p5_img4 .p5_txt{color: #fff;font-size: 22px;font-weight: bold;}
.page5 .page5_in .p5_img4 .scroll_down .down{margin-top: 12px; animation-name: down;animation-duration: 1.5s;animation-iteration-count: infinite;}

@keyframes down{
    0%{transform:translateY(0)}  
    50%{transform:translateY(15px)}  
    100%{transform:translateY(0)}  
  }


/*page6*/
.jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}


.jssorb064 {position:absolute;}
.jssorb064 .i {position:absolute;cursor:pointer;}
.jssorb064 .i .b {fill:#000;fill-opacity:.5;stroke:#fff;stroke-width:400;stroke-miterlimit:10;stroke-opacity:0.5;}
.jssorb064 .i:hover .b {fill-opacity:.8;}
.jssorb064 .iav .b {fill:#fff;fill-opacity:1;stroke:#000;stroke-opacity:.7;stroke-width:2000;}
.jssorb064 .iav:hover .b {fill-opacity:.6;}
.jssorb064 .i.idn {opacity:.3;}

.jssora051 {display:block;position:absolute;cursor:pointer;/*background: rgba(255, 255, 255, 0.4);border: 0px solid #000;border-radius: 100%;*/}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:1000;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}

.page6 .page6_in{position:absolute;bottom: 5%;left:48.7%;transform: translate(-50%,-50%);text-align: center;line-height: 2;}
.page6 .page6_in .p6_btn{border: 3px solid #fff;width: 190px;height: 50px;border-radius: 30px;box-sizing: border-box; 
  background: rgba(0, 0, 0, 0.6);margin: 7px 0 0 40px;padding-top: 3px;
  margin-top: 12px; animation-name: btn_down;animation-duration: 1.5s;animation-iteration-count: infinite;}

  @keyframes btn_down{
    0%{transform:translateY(0)}  
    50%{transform:translateY(10px)}  
    100%{transform:translateY(0)}  
  }
.page6 .page6_in .p6_btn a{color: #fff;font-size: 19px;font-weight: bold;}


/*page7*/
.page7 .video3{position: absolute;top: 0;left: 0;width: 100%;height: 100%; object-fit: cover;}
.page7 .page7_in1{position:absolute;top: 45%;left:50%;transform: translate(-50%,-50%);text-align: center;width: 100%;}
.page7 .page7_in1 h1{font-size: 21px; color: #fff;font-weight: bold;}

.page7 .page7_in2{position:absolute;bottom: -37px;left:50%;transform: translate(-50%,-50%);width: 100%;height: 75px;background: #f8f7f5;}
.page7 .page7_in2 .p7_list{position:absolute;top: 30%; left:12%;}
.page7 .page7_in2 .p7_list li{float: left;margin-left: 50px;color: #676767;font-size: 21px;font-weight: bold;}
.page7 .page7_in2 .p7_list li a{font-size: 20px;text-align: center;color: #676767;}









